@model TicketReservation.Domain.Entities.Event

@*<div class="well">
        @if (Model.ImageData != null)
        {
            <div class="pull-left" style="margin-right: 10px">
                <img class="imgm-thumbnail" width="150" height="100"
                     src="@Url.Action("GetImage", "Event", new {Model.EventID})"/>
            </div>
        }

        <h3>
            <strong>@Model.EventName</strong>
            <span class="pull-right label label-primary">@Model.EventStartDateTime , @Model.Category.EventCategoryName</span>
        </h3>
        <span class="lead">@Model.OtherDetails</span>
    </div>*@


@*<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img style="height: 200px; width: 242px" src="@Url.Action("GetImage", "Event", new {Model.EventID})" alt="...">
            <div class="caption">
                <h3>@Model.EventName</h3>
                <p>@Model.OtherDetails</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>*@

<div class="col-xs-12 col-sm-6 col-md-3">
    <div class="thumbnail">
        @if (Model.ImageData != null)
        {
            <img src="@Url.Action("GetImage", "Event", new {Model.EventID})" alt="">
        }
        <div class="caption">
            <h4>@Model.EventName</h4>
            <b>Data rozpoczęcia: </b>
            <p>@Model.EventStartDateTime.Date.ToLongDateString()</p>
            <b>Data zakończenia: </b>
            <p>@Model.EventEndDateTime.Date.ToLongDateString()</p>
            <p>
                <a href="#" class="btn btn-primary btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
            </p>
        </div>
    </div>
</div>



