@model TicketReservation.Domain.Entities.Events

<div class="col-xs-12 col-sm-6 col-md-3">
    <div class="thumbnail">
        @if (Model.ImageData != null)
        {
            @*<div class="ratio_big-img">
                <img class="b-lazy" src="@Url.Action("GetImage", "Event", new {Model.EventID})">
            </div>*@
            <div class="ratio_big-img loading">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@Url.Action("GetImage", "Event", new {Model.EventID})">
            </div>
        }
        <div class="caption">
            <h4>@Html.RouteLink(Model.EventName, new { controller = "Event", action = "ShowEvent", eventId = Model.EventID})</h4>
            <b>Data rozpoczęcia: </b>
            <p>@Model.EventStartDateTime.Value.Date.ToLongDateString()</p>
            <b>Data zakończenia: </b>
            <p>@Model.EventEndDateTime.Value.Date.ToLongDateString()</p>
            <p>
                <a href="#" class="btn btn-primary btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
            </p>
        </div>
    </div>
</div>



