@model TicketReservation.Domain.Entities.Events


<div class="col-xs-12 col-sm-6 col-md-3">
    <a href="#" id="linkEvent">
        <div class="thumbnail">
            @if (Model.ImageData != null)
            {
                <div class="ratio_big-img loading">
                    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@Url.Action("GetImage", "Event", new {Model.EventID})">
                </div>
            }
            <div class="caption">
                <h4>@Html.RouteLink(Model.EventName, new {controller = "Event", action = "ShowEvent", eventId = Model.EventID})</h4>
                <div class="row">
                    <div class="col-md-6">
                        <b>Data rozpoczęcia: </b>
                        <p>@Model.EventStartDateTime.Value.Date.ToLongDateString()</p>
                        <b>Data zakończenia: </b>
                        <p>@Model.EventEndDateTime.Value.Date.ToLongDateString()</p>
                    </div>
                    <div class="col-md-6">
                        <b>Cena biletu od:</b>
                        @if (Model.Ticket.Count > 0)
                        {
                            <p>@Model.Ticket.Select(ticket => ticket.Price).Min()&nbsp;PLN</p>
                        }
                        else
                        {
                            <p>Brak biletów</p>
                        }
                    </div>
                </div>
            </div>
            <a href="@Url.Action("ShowEvent", "Event", new { eventId = Model.EventID })" class="btn btn-primary btn-md" role="button" id='buyTicket'><i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;Kup bilet</a>
        </div>
    </a>
</div>



