@using System.Activities.Statements
@using TicketReservation.Domain.Entities

@model TicketReservation.Models.AdminViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h2>Edycja @Model.EventName</h2>
    </div>
</div>
@using (Html.BeginForm("Edit", "Admin",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-6">
        <div class="panel-body">
            @Html.HiddenFor(x => x.EventID)
            @foreach (var item in ViewData.ModelMetadata.Properties)
            {
                switch (item.PropertyName)
                {

                    default:
                                    <div class="form-group">
                                        <label>@(item.DisplayName ?? item.PropertyName)</label>
                                        @if (item.PropertyName == "OtherDetails")
                                        {
                                            @Html.TextArea(item.PropertyName, null, new {@class = "form-control", rows = 5})
                                        }
                                        else if (item.PropertyName == "EventStartDateTime" || item.PropertyName == "EventEndDateTime" || item.PropertyName == "TicketsOnSaleDateTime")
                                        {
                                            <div class='input-group date datetimepicker1'>
                                                @Html.TextBox(item.PropertyName, null, new { @class = "form-control" })
                                                    <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        }
                                        else if (item.PropertyName == "EventCategoryID")
                                        {
                                            @Html.DropDownListFor(m => m.EventCategoryID, Model.CategoriesForDropList, new { @class = "form-control" })
                                        }
                                        else if (item.PropertyName == "EventSubCategoryID")
                                        {
                                            @Html.DropDownListFor(m => m.EventSubCategoryID, Model.SubCategoryForDropList, new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.TextBox(item.PropertyName, null, new {@class = "form-control"})
                                        }
                                        @Html.ValidationMessage(item.PropertyName)
                                    </div>
                                    break;
                            }
                        }
        </div>
    </div>
    <div class="panel-footer col-md-12">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
        @Html.ActionLink("Anuluj i wróć do listy", "Index", null, new
   {
       @class = "btn btn-default"
   })
    </div>
}



