@using System.Activities.Statements
@using TicketReservation.Domain.Entities

@model TicketReservation.Models.AdminViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h2>Edycja @Model.EventName</h2>
    </div>
</div>
@using (Html.BeginForm("Edit", "Admin",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-6">
        <div class="panel-body">
            @*@Html.HiddenFor(x => x.EventID)
            @foreach (var item in ViewData.ModelMetadata.Properties)
            {
                switch (item.PropertyName)
                {

                    default:
                                    <div class="form-group">
                                        <label>@(item.DisplayName ?? item.PropertyName)</label>
                                        @if (item.PropertyName == "OtherDetails")
                                        {
                                            @Html.TextArea(item.PropertyName, null, new {@class = "form-control", rows = 5})
                                        }
                                        else if (item.PropertyName == "EventStartDateTime" || item.PropertyName == "EventEndDateTime" || item.PropertyName == "TicketsOnSaleDateTime")
                                        {
                                            <div class='input-group date datetimepicker1'>
                                                @Html.TextBox(item.PropertyName, null, new { @class = "form-control" })
                                                    <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        }
                                        else if (item.PropertyName == "EventCategoryID")
                                        {
                                            @Html.DropDownListFor(m => m.EventCategoryID, Model.CategoriesForDropList, new { @class = "form-control" })
                                        }
                                        else if (item.PropertyName == "EventSubCategoryID")
                                        {
                                            @Html.DropDownListFor(m => m.EventSubCategoryID, Model.SubCategoryForDropList, new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.TextBox(item.PropertyName, null, new {@class = "form-control"})
                                        }
                                        @Html.ValidationMessage(item.PropertyName)
                                    </div>
                                    break;
                            }
                        }*@
            <div class="form-group">
                @Html.LabelFor(m => m.EventName)
                @Html.TextBoxFor(m => m.EventName, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EventName)
                <br/>
                @Html.LabelFor(m => m.OtherDetails)
                @Html.TextAreaFor(m => m.OtherDetails, new { @class = "form-control", rows = 5 })
                @Html.ValidationMessageFor(m => m.OtherDetails)
                <br />
                @Html.LabelFor(m => m.EventStartDateTime)
                <div class='input-group date datetimepicker1'>
                    @Html.TextBoxFor(m => m.EventStartDateTime, null, new {@class = "form-control"})
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.EventStartDateTime)
                <br />
                @Html.LabelFor(m => m.TicketsOnSaleDateTime)
                <div class='input-group date datetimepicker1'>
                    @Html.TextBoxFor(m => m.TicketsOnSaleDateTime, null, new {@class = "form-control"})
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.TicketsOnSaleDateTime)
                <br />
                @Html.LabelFor(m => m.EventEndDateTime)
                <div class='input-group date datetimepicker1'>
                    @Html.TextBoxFor(m => m.EventEndDateTime, null, new {@class = "form-control"})
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.EventEndDateTime)
                <br />
                @Html.LabelFor(m => m.EventCategoryID)
                @Html.DropDownListFor(m => m.EventCategoryID, Model.CategoriesForDropList, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EventCategoryID)
                <br />
                @Html.LabelFor(m => m.EventSubCategoryID)
                @Html.DropDownListFor(m => m.EventSubCategoryID, Model.SubCategoryForDropList, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EventSubCategoryID)
                <br />
                <div style="position: relative;">
                    <label>Plakat</label>
                    <a class='btn' href='javascript:;'>
                        Wybierz plik...
                        <input type="file" name="Image" size="40"
                               style="position:absolute;z-index:2;top:0;
                                 left: 0; filter: alpha(opacity=0); opacity:0;
                                 background-color:transparent;color: transparent;"
                               onchange='$("#upload-file-info").html($(this).val());'>
                    </a>
                    <span class='label label-info' id="upload-file-info"></span>
                </div>
                @if (Model.ImageData == null)
                {
                    <div class="form-control-static">Brak plakatu</div>
                }
                else
                {
                    <img class="img thumbnail" width="150" height="150"
                         src="@Url.Action("GetImage", "Event", new {Model.EventID})"/>
                }
            </div>
        </div>
    </div>
    <div class="panel-footer col-md-12">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
        @Html.ActionLink("Anuluj i wróć do listy", "Index", null, new
   {
       @class = "btn btn-default"
   })
    </div>
}



